<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(<%= movie.poster_url %>);">
  <div class="container">
    <h1><%= movie.title %></h1>
  </div>
</div>
