<%= render '/components/index_banner' %>

<div class="container">
  <div class="row">
    <div class="col my-4 mx-auto">
      <h1>Add a new movie</h1>
    </div>
  </div>
  <div class="row">
    <div class="col mx-auto">
      <%= render 'form', movie: @movie %>
    </div>
  </div>
  <div class="row">
    <div class="col mx-auto mt-4">
      <%= link_to "Back to movies", movies_path, class: "btn btn-sm btn-outline-secondary" %>
    </div>
  </div>

</div>
